@font-face{
  font-family: 'Knockout';
  src: url("../font/knockout.otf");
}

@font-face{
  font-family: 'Domaine';
  src: url("../font/Domaine.otf");
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


body {
  min-width: none;
  min-height: nonepx;
  background-color: #000000;
  font-family: 'Knockout';
  color: #837451;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.wrapper{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.frame{
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 40px solid #817350;
}

.fixedcontainer{
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("../img/tile.gif");
  background-repeat: repeat;
  -webkit-animation:fadeIn ease 1;
  -moz-animation:fadeIn ease 1;
  animation:fadeIn ease 1;
  -webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
  animation-delay: .5s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:4s;
  -moz-animation-duration:4s;
  animation-duration:4s;
}

.footer {
  position: absolute;
  bottom: 80px;
  right: 80px;
  width: 100%;
  height: 87px;
  justify-content: flex-end;
}

.footer .text {
  width: 120px;
  position: relative;
  font-size: 14px;
  letter-spacing: 8px;
  color: #817350;
  line-height: 1.5em;
}

.header {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 100%;
  height: 87px;
  justify-content: flex-start;
}

.header .text {
  width: 120px;
  position: relative;
  font-size: 14px;
  letter-spacing: 8px;
  color: #817350;
  line-height: 1.5em;
}

.name{
  margin-bottom: 5px;
}

.and{
  font-size: 10px;
}

.title {
  position: absolute;
  align-content: center;
  top: 0;
  bottom: 0;
  width: 100%;
}

.title-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-left: 20%;
  width: 60%;
}

.svg-container{
  margin-bottom: 140px;
   height: 0;             /* collapse the container's height */
   width: 100%;    /* specify any width you want (a percentage value, basically) */
   /* apply a padding using the following formula */
   /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
   padding-top: 7%;
   position: relative;    /* create positioning context for svg */
}

.title-content .text {
  font-size: 14px;
  text-align: center;
  letter-spacing: 6px;
  color: #817350;
  font-family: 'Knockout';
}



@media(max-width: 1200px) {
  .header{
    left: 0;
    justify-content: center;
  }
  .header .text{
    text-align: center;
  }
  .footer{
    right: 0;
    justify-content: center;
  }

  .footer .text{
    text-align: center;
  }

  .title-content {
    margin-left: 15%;
    width: 70%;
  }

}

@media(max-width: 680px )  and (orientation: landscape) {
  .mini{
    display: none;
  }

  .name{
    font-size: 10px;
    display: inline-block;
  }

  .header{
    top: 35px;
  }

  .and{
    font-size: 8px;
  }

  .footer{
    bottom: 35px;
    height: auto;
  }

  .title-content .text {
    font-size: 10px;
    letter-spacing: 4px;
  }

  .header .text{
    width: 100%;
    font-size: 10px;
    letter-spacing: 4px;
  }

  .svg-container{
    margin-bottom: 53px;
  }

  .footer .text{
    width: 100%;
    bottom: 5;
    font-size: 10px;
    letter-spacing: 4px;
  }

  .frame{
    border: 15px solid #817350;
  }

  .title-content {
    margin-left: 10%;
    width: 80%;
  }
}

@media(max-width: 640px) {

  .frame{
    border: 30px solid #817350;
  }

  .header .text{
    font-size: 12px;
  }

  .footer .text{
    font-size: 12px;
  }

  .name{
    font-size: 12px;
  }

  .title-content {
    margin-left: 10%;
    width: 80%;
  }
}

@media(max-width: 375px) {

  .mini{
    display: none;
  }

  .name{
    font-size: 10px;
    display: inline-block;
  }

  .header{
    top: 30px;
  }

  .and{
    font-size: 8px;
  }

  .footer{
    bottom: 20px;
    height: auto;
  }



  .title-content .text {
    font-size: 10px;
    letter-spacing: 4px;
  }

  .header .text{
    width: 100%;
    font-size: 10px;
    letter-spacing: 4px;
  }

  .svg-container{
    margin-bottom: 53px;
  }

  .footer .text{
    width: 100%;
    bottom: 5;
    font-size: 10px;
    letter-spacing: 4px;
  }

  .frame{
    border: 15px solid #817350;
  }

  .title-content {
    margin-left: 10%;
    width: 80%;
  }
}
